<%- include('header') %>
<div class="row ind">
    <div class="col-lg-4">
        <img src="https://i.pinimg.com/564x/34/ab/64/34ab6480dce7225bea911adf37c357d6.jpg" alt="">
    </div>
    <div class="col-lg-4 h">
        <h1>Whispers of Life</h1>
    <p>Sunrise paints the sky,</p>
    <p>Birds sing morning songs.</p>
    <p>Leaves dance in wind,</p>
    <p>Flowers bloom with grace.</p>
    <p>Raindrops kiss earth,</p>
    <p>Rivers flow with life.</p>
    <p>Stars twinkle above,</p>
    <p>Dreams whisper in sleep.</p>
    </div>
    <div class="col-lg-4">
        <img src="https://i.pinimg.com/564x/64/b4/c2/64b4c2c75a7030854c5831b83282df73.jpg" alt="">
    </div>
</div>
<%- include('footer') %>
